<view class='table'>
  <view class='item middle borderbottom bordertop th'>
    <view class='position'></view>
    <view class='cid'>频道id</view>
    <view class='cname'>频道名称</view>
    <view class='operation'></view>
  </view>
  <block wx:for='{{marketingItemList}}' wx:for-item='item' wx:for-index='index'>
  <view class='item middle borderbottom'>
    <view class='position'>{{item.itemPosition}}</view>
    <block wx:if='{{!item.isEdit}}'>
      <view class='cid'>{{item.marketingItemId}}</view>
      <view class='cname'>{{item.itemName}}</view>
    </block>
    <block wx:else>
      <input class='cinput' maxlength='100' data-index='{{index}}' placeholder='请输入频道id' bindinput='bindInputHandle' value='{{item.marketingItemId}}'></input>
            <!-- <input class='cinput' data-index='{{index}}' placeholder='请输入频道名称' bindinput='bindInputCNameHandle' maxlength='100' value='{{item.itemName}}'></input> -->
    </block>
    <view class='operation middle'  >
      <view class='ii' bindtap='edit' data-index='{{index}}' data-id='{{item.marketingItemId}}' wx:if='{{!item.isEdit}}'>编辑</view>
      <view class='ii' bindtap='save' data-index='{{index}}' data-id='{{item.marketingItemId}}' wx:if='{{item.isEdit}}'>发布</view>
      <view class='ii del' data-index='{{index}}' data-id='{{item.marketingItemId}}' bindtap='delitem'>删除</view>
    </view>
  </view>
  </block>
</view>