page{
  background: #f4f5f8;
  padding-bottom: 20px;
}
.opacity0{
  opacity: 0;
}
.canvas{
  width: 255px;
  height: 395px;
  margin: 0px auto;
  border-radius: 5px;
  display: block;
}
.save{
  width: 250px;
  height: 41px;
  line-height: 41px;
  border: #FACC39 1px solid;
  font-size: 15px;
  color:#40311D;
  border-radius: 45px;
  margin-top: 28px;
}
.content{
  display: flex;
  background: #fff;
  box-shadow: 0 1.5px 2.5px 0 rgba(0,0,0,0.10);
  padding: 0 6px;
}
.item{
  flex: 1;
  height: 94px;
  text-align: center;
}
.item label{
  font-size: 12px;
  color: #ADB7C1;
  display: block;
  margin-top: 6px;
}
.item .current{
  border: #FACC39 1px solid;
}
.item .card{
  width: 87%;
  max-width: 45px;
  height: 56px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 3px;
  box-sizing: border-box;
}
.header{
  height: 45px;
  line-height: 45px;
  background: #fff;
  color: #333;
  font-size: 15px;
  text-align: center;
  justify-content: center;
}
.header .desc{
  margin: 0 6px;
}
.previous{
  width: 60px;
  height: 45px;
  position: relative;
  display: inline-block;
}
.next{
  width: 60px;
  height: 45px;
  position: relative;
  display: inline-block;
}
.previous::after{
  content: '';
  position: absolute;
  right: 28px;
  top: 17px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.next::after{
  content: '';
  position: absolute;
  left: 20px;
  top:17px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #333;
  border-top: 2px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nomore::after{
  border-color: #ececec;
}
.longtap{
  margin: 30px auto;
  color: '#AAB4BD';
  font-size:12px;
  display: block;
  text-align: center;
}

.hide{
  display: none;
}
swiper{
  display: flex;
  height: 395px;
  margin-top: 17px;
}


.swiper-container{
  position: relative;
}
.swiper-container .dots{  
  position: absolute;  
  left: 0;  
  right: 0;  
  bottom: -20px;  
  display: flex;  
  justify-content: center;  
}  
.swiper-container .dots .dot{  
  margin: 0 8rpx;  
  width: 14rpx;  
  height: 14rpx;  
  background: #EBECEF;
  border-radius: 50%;
  transition: all .6s;  
}  
.swiper-container .dots .dot.active{  
  width: 20rpx;  
  background: #FFD342; 
  border-radius: 9rpx;  
}

.nodata{
  text-align: center;
  color: #666;
  font-size: 16px;
}
.nodata .icon{
  width: 207px;
  height: 190px;
  margin: 65px auto 27px auto;
}
.nodata .tip{
  line-height: 25px;
}
.nodata .do_gray{
  width:22px;
  height:14px;
  margin:0 2px;
}

.lockcard{
  border-radius: 3px;
  position: relative;
  background: rgba(51,51,51,0.25);
}
.lockcard .lockbg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.lockcard .icon{
  width: 14px;
  height: 17px;
  margin: 0 auto;
  z-index: 9;
}


.silder{
  width: 250px;
  height: 394px;
  margin: 0 auto;
  position: relative;
}
.silder .smask{
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 311px;
  background: rgba(0,0,0,0.1);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.silder .doimg{
  width: 250px;
  height: 311px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}
.silder .box{
  position: relative;
  height: 82px;
  background: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.silder .box .title{
    position: absolute;
    left: 9px;
    width: 180px;
    font-size: 12px;
    color: #333333;
    line-height: 16px;
    top: 9px;
}
.silder .box .day{
  font-size: 40px;
color: #FACC39;
position: absolute;
left: 9px;
bottom:5px;
line-height:40px;
height:40px;
}
.silder .box .unit{
  font-size: 15px;
  margin-left: 3px;
}
.silder .box .mcode{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 7px;
  right: 9px;
}
.silder .box .info{
  position: absolute;
  bottom: 8px;
  right: 9px;
font-size: 10px;
color: #797979;
}
.silder .box .info .photo{
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.silder .box .info .name{
  margin-left: 5px;
  margin-right: 8px;
}

.cancelbtn{
  margin-top: 35px;
  background: #fff;
  width: 250px;
}