page{
  padding: 0 25px;
  box-sizing: border-box
}
.desc{
  color: #666;
  font-size: 14px;
  padding: 7.5px 0;
}
.img{
  width: 100%;
  margin-bottom: 10px;
  border-right: 3px;
  display: block;
}
.box{
  position: relative;
}

.status{
  position: absolute;
  z-index: 9;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 23px;
  height: 23px;
}
.unsel {
  border: 1px #fff solid;
  box-sizing: border-box;
}