<view class='label'>
  <label class='require'>频道名称</label>
  <label class='num'>{{channelNameLen}}/20</label>
</view>
<view class='contents middle'>
  <input maxlength='20' placeholder-class="phcolor" bindinput='bindInputChannelName' type='text' placeholder='请输入频道名称'></input>
</view>

<view class='label'>
  <label class='require'>设置背景图</label>
</view>

<view class='addimgbox'>
  <image wx:if='{{channelImgUrl}}' class='width100' mode='widthFix' src='{{channelImgUrl}}?imageView2/1/w/650/h/260' bindtap='chooseImg'></image>
  <view wx:else class='addimg' bindtap='chooseImg'>
    <image src='../../../../images/addimg.png'></image>
    <label class='text'>添加图片</label>
  </view>

  <view class='smollimg'>

    <image wx:if='{{channelImgUrl}}' class='smoll' mode='scaleToFill' src='{{channelImgUrl}}?imageView2/1/w/300/h/300' ></image>
    <view wx:else class='smoll smbg middle'>
      <image class='icon' src='../../../../images/addimg.png'></image>
    </view>
    <label>缩略图预览</label>
  </view>


</view>

<view class='label'>
  <label class=''>频道简介</label>
  <label class='num'>{{channelDescriptionLen}}/50</label>
</view>
<view class='channeldesc'>
  <textarea auto-height maxlength='50' placeholder-class="phcolor" type='text' placeholder='请输入频道简介' bindinput='bindInputChannelDescription'></textarea>
</view>

<view class='label'>
  <label class=''>频道主简介</label>
  <label class='num'>{{creatorDescriptionLen}}/20</label>
</view>
<view class='channeldesc'>
  <textarea  auto-height maxlength='20' placeholder-class="phcolor" type='text' placeholder='请输入频道简介' bindinput='bindInputCreatorDescription'></textarea>
</view>


<form bindsubmit='save' report-submit='true'>
  <button class='{{saveclass}}' formType='submit'>下一步</button>
</form>
<button class='cancel' bindtap='cancel'>取消</button>