<!-- <view class='label'>
  <label class='require'>设置微信提醒时间</label>
</view>
<view class='content middle arrow borderbottom'>
  <view>
    <view data-notifyswitch='true' class="{{notifySwitch ? 'selected' : 'unselect'}}" bindtap='changeNotifySwitch'></view>
    <label class='text'>打开提醒</label>
  </view>
  <picker mode="time" value="{{notifyTime}}" bindchange="bindTimeChange">
    <view class="picker">
      <label class='timelabel'>提醒时间</label>
      <label class='time'>{{notifyTimeselpartner}}</label>
    </view>
  </picker>
</view> 

<view class='content middle'>
  <view data-notifyswitch='false' class="{{!notifySwitch ? 'selected' : 'unselect'}}" bindtap='changeNotifySwitch'></view>
  <label class='text'>关闭提醒</label>
</view>-->

<view class='label'>
  <label class='require'>隐私设置</label>
</view>

<view class='content middle borderbottom'>
  <view data-channeltype='0' class="{{channelType == 0 ? 'selected' : 'unselect'}}" bindtap='changeChannelType'></view>
  <label class='text'>公开，可分享群好友参与，也可能被官方推荐</label>
</view>

<view class='content middle'>
  <view data-channeltype='1' class="{{channelType == 1 ? 'selected' : 'unselect'}}"    bindtap='changeChannelType'></view>
  <label class='text'>私密，仅自己可见，无法被分享、推荐</label>
</view>

<view class='label'>
  <label class=''>选择参与者</label>
</view>

<view class='partner'>
  <text class='desc'>可将孩子昵称和头像设置为参与者</text>
  <scroll-view class='scroll-view_H' scroll-x="true">
    <block wx:for="{{participantList}}" wx:for-index="index" wx:key="item" wx:for-item="item">
      <view class='items' data-index='{{index}}' data-status='{{item.status}}' bindtap='changestatus' data-pid="{{item.pid}}">
        <open-data wx:if="{{item.imgUrl == 'KTB_WXUSERAVATARURL'}}" class='ph' type="userAvatarUrl"></open-data>
        <image wx:else class='ph' src="{{item.imgUrl || '../../../../images/default.png'}}"></image>

        <open-data  wx:if="{{item.name == 'KTB_WXUSERNICKNAME'}}" class='name nowrap' type="userNickName"></open-data>
        <text wx:else class='name nowrap'>{{item.name}}</text>
        <image wx:if="{{item.status}}" class='status' src='{{item.statusimg}}'></image>
      </view>
    </block>
    <view class='items' bindtap='goaddpartner'>
        <image class='ph' src='../../../../images/addpartner.png'></image>
        <text class='name nowrap'>创建参与者</text>
      </view>
  </scroll-view>
</view>




<form bindsubmit='save' report-submit='true'>
  <button class='{{saveclass}}' formType='submit'>创建</button>
</form>
<button class='cancel' bindtap='cancel'>取消</button>