<block wx:if='{{show}}'>
<view class='header'>
  <open-data class='avatar' type="userAvatarUrl"></open-data>
  <open-data class='name nowrap' type="userNickName"></open-data>
  <!-- <view class='btn' bindtap='goaddpartner'>添加参与者</view> -->
</view>

<!-- <view class='partner' wx:if="{{participantList.length > 0}}">
  <label class='title'>参与者</label>
  <scroll-view class='scroll-view_H' scroll-x="true">
    <block wx:for="{{participantList}}" wx:key="item" wx:for-item="item">
      <view class='items' bindtap='gopartnerinfo' data-pid="{{item.pid}}">
        <open-data wx:if="{{item.imgUrl == 'KTB_WXUSERAVATARURL'}}" class='ph' type="userAvatarUrl"></open-data>
        <image wx:else class='ph' src="{{item.imgUrl || '../../../images/default.png'}}"></image>

        <open-data wx:if="{{item.name == 'KTB_WXUSERNICKNAME'}}" class='name nowrap' type="userNickName"></open-data>
        <text wx:else class='name nowrap'>{{item.name}}</text>

      </view>
    </block>
  </scroll-view>
</view> -->

<view class='item ' bindtap='godolist' hover-class='view-hover'>
  <image src='../../../images/icon_dolist.png'></image>
  <text>笔记</text>
</view>

<!-- <view class='item ' bindtap='godocard'  hover-class='view-hover'>
  <image src='../../../images/docard.png'></image>
  <text>do卡</text>
</view> -->

<view class='item' bindtap='gomessage' hover-class='view-hover'>
  <image src='../../../images/icon_message.png'></image>
  <text wx:if="{{unReadMsgCount}}" class='num'>{{unReadMsgCount}}</text>
  <text>消息</text>
</view>

<view class='item' bindtap='gosettings' hover-class='view-hover'>
  <image src='../../../images/icon_setting.png'></image>
  <text>设置</text>
</view>



</block>