<block wx:if='{{show}}'>
    <view class='warp' wx:if="readPicBookDisplayItemList && readPicBookDisplayItemList.length >0" wx:for='{{readPicBookDisplayItemList}}' wx:for-item='item' wx:for-index='index'>
      <view class='header'>
        <!-- <text class='num'>No.{{item.currentTopic.topicOrder}}</text> -->
        <text class='title nowrap2'>{{item.currentTopic.topicTitle}}</text>
      </view>
      <view class='content'>
        <image data-channelid='{{item.picBookInfo.channelId}}' data-topicid='{{item.currentTopic.topicId}}' bindtap='gotopic' class='img' mode='aspectFill' src='{{item.currentTopic.topicPicUrl}}'></image>
        <view class='mask' data-channelid='{{item.picBookInfo.channelId}}' data-topicid='{{item.currentTopic.topicId}}' bindtap='gotopic'>
         <view class='subtitle nowrap3'>{{item.currentTopic.topicDesc}}</view>
        </view>
       
        <!-- <view class='godetail' data-channelid='{{item.picBookInfo.channelId}}' data-topicid='{{item.currentTopic.topicId}}' bindtap='gotopic'>进入主题</view> -->
        <view class='info' data-channelid='{{item.picBookInfo.channelId}}' bindtap='gochannelinfo' >
          <image class='icon' mode='aspectFill' src='{{item.picBookInfo.channelPicUrl}}'></image>
          <view class='playinfo'>
            <view class='desc nowrap'>{{item.picBookInfo.channelName}}</view>
            <view class='num middle'>
              <!-- <image class='ico' src='../../../images/user.png'></image> -->
              <text class='text'>成员{{item.picBookInfo.memberCount}}</text>
              <!-- <image class='ico' src='../../../images/join.png'></image> -->
              <text class='text'>动态{{item.picBookInfo.doPlusCount}}</text>
            </view>
          </view>
        </view>
      </view>

    </view>

     <view wx:if='{{!readPicBookDisplayItemList || readPicBookDisplayItemList.length==0}}'>
     <view class='nochannel'>
      <image class='icon' mode='widthFix' src='../../../images/icon_nochannel.png'></image>
      <view class='desc'>精彩生活就在卡乐猫</view>

      <view class='do'>
        <!-- <button class='getUserInfoBtn' open-type="getUserInfo" bindgetuserinfo="getUserInfoHandler"></button>   -->
        <view class='btn godiscoverbtn middle' bindtap='godiscover'>
          发现精彩
        </view>
      </view>

    </view>
    </view> 

</block>


