page{
  background: #f4f5f8;
}
.header{
  background: #fff;
  font-size: 14px;
  color: #333;
  padding: 15px 20px;
  box-sizing: content-box;
  margin-bottom: 10px;
}

.item{
  font-size: 15px;
  height: 70px;
  background: #fff;
  padding-left: 15px;
  padding-right: 25px;
  box-sizing: border-box;
  justify-content: space-between;
}
.item .icon{
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.item .name{
  color: #333;
  width: 160px;
}
.del{
  color: #FF4E00;
  height: 100%
}
.del image{
  width: 14px;
  height: 14px;
  margin-right: 10px;
}