<block wx:for='{{channelNotifyList}}' wx:for-item='item' wx:for-index='index'>
  <view class='main'>
    <view class='item borderbottom'>
      <label class='middle'>{{item.channelName}}</label>
      <switch data-index='{{index}}' class='middle' color='#FACC39' checked='{{item.notifySwitch}}' bindchange="switchChange"/>
    </view>
    <view class='sub borderbottom' wx:if="{{item.notifySwitch}}">
      <label class='lab'>设置提醒时间</label>
      <picker mode="time" data-index='{{index}}' value="{{item.notifyTime}}" bindchange="bindTimeChange">
        <view class="picker">
          {{item.notifyTime}}
        </view>
      </picker>
    </view>
  </view>
</block>