<!-- <view class='item borderbottom' bindtap='goremind'>
  <image src='../../../../images/wechat.png'></image>
  <text>微信提醒</text>
</view> -->

<view class='item mbottom10' bindtap='gogrouprelation'>
  <image src='../../../../images/group.png'></image>
  <text>微信群关系</text>
</view>

<!-- <view class='item mbottom10' bindtap='goabout'>
  <image src='../../../../images/about.png'></image>
  <text>关于卡乐猫</text>
</view> -->

<view class='item' bindtap='gochannellist'>
  <image src='../../../../images/admin.png'></image>
  <text>频道管理</text>
</view>

<view class='item' wx:if='{{userRole == 99}}' bindtap='gosettings'>
  <image src='../../../../images/admin.png'></image>
  <text>系统管理员</text>
</view>