page{
  background: #f4f5f8;
}
.item{
  padding: 0 25px;
  box-sizing: border-box;
  background: #fff;
  margin-bottom: 10px;
  height: 45px;
  line-height: 45px;
  position: relative;
  font-size: 15px;
}
.head{
  height: 90px;
  line-height: 90px;
}
.head .icon{
  width: 18px;
  height: 18px;
  display: block;
  position: absolute;
  top: 12px;
  left: 31px;
}
.item .tit{
  font-size: 15px;
  color: #666;
  position: absolute;
  top: 0;
  left: 25px;
}
.head .headicon{
  height: 60px;
  width: 80px;
  border-radius: 3px;
  float: right;
  margin: 15px 0;
  position: relative;
  background: #EBEEF0;
}
.head .image{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  float: right;
  margin: 15px 0;
}
.head .headicon .tip{
  color: #C6C6C6;
  font-size: 12px;
  position: absolute;
  top: 0px;
  left: 17px;
  display: block;
  width: 48px;
  height: 12px;
  text-align: center;
}
button{
  width: 259px;
  height: 41px;
  line-height: 41px;
  border-radius: 45px;
  font-size: 15px;
  color: #40361D;
}
.save{
  background: #FACC39;
  margin-top: 30px;
  margin-bottom: 15px;
}
.unsave{
  background: #E1E1E1;
  margin-top: 30px;
  margin-bottom: 15px;
}
.cancel{
  border: #FACC39 1px solid;
}
.name{
  height: 45px;
  padding-left: 45px;
  color: #333;
  text-align: right;
  flex: 1;
}
.date{
  height: 45px;
  position: absolute;
  right: 25px;
}
.placeholder{
  color: #C6C6C6;
}
.picker{
  height: 45px;
}
.unselect{
  border: #B3BBC4 1px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 10px;
  margin-left: 35px;
}
.selected{
  border: #F5CA03 1px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #FFF;
  float: left;
  margin-right: 10px;
  margin-left: 35px;
  position: relative;
}
.selected::after{
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: #FACC39;
  left: 4px;
  top:4px;
}
.selsex{
  position: absolute;
  right: 25px;
  height: 45px;
  width: 170px;
  text-align: right;
}