page{
  background: #f5f7f8;
}
.box{
  text-align: center;
  padding: 8px 20px 20px 20px;
  background: #fff;
}
.box .mplay{
  width: 169px;
  height: 115px;
  margin: 0 auto;
  display: block;
}
.box text{
  line-height: 20px;
  color: #333;
  font-size: 14px;
  padding-top: 16px;
}
.desc{
  line-height: 35px;
}
.desc text{
  font-size: 14px;
  color: #666;
  margin-left: 20px;
}

.unselect{
  border: #B3BBC4 1px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  float: left;
  margin-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}
.selected{
  border: #F5CA03 1px solid;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #FFF;
  float: left;
  margin-right: 10px;
  position: relative;
}
.selected::after{
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  background: #FACC39;
  left: 4px;
  top:4px;
}
.content{
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}
.content .right{
   padding-left:34px; 
}
.content .right .mtitle{
  font-size: 17px;
  color: #333;
  line-height: 24px;
}

.content .right .mtip{
  font-size: 14px;
  color: #666;
  margin-top: 10px;
  line-height: 20px;
}
.content .icon{
  width: 17px;
  height: 17px;
  margin-right: 12px;
}

.content .item{
  position: relative;
  padding: 20px 0;
}

.content .item .left{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
/* .content .item:first-child{
  padding-bottom: 20px;
}
.content .item:last-child{
  padding-top: 20px;
} */