@import "../../../../wxParse/wxParse.wxss";
page{
  padding-bottom: 70px;
  background: #F7F8FA;
}
.fixed{
  position: fixed;
  top:0;
}
.changewarp{
  position: fixed;
  bottom: 100px;
  color: #0DCAD4;
  right: 10px;
}
.headers{
  position: relative;
  overflow: hidden;
}
.headers .imgInfo{
  position: relative;
}
.headers .mmask{
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 50%, rgba(0,0,0,0.53) 98%);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.headers .mimg{
  display: block;
  width: 100%;
}
.headers .tInfo{
  position: absolute;
  bottom: 13px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  color: #fff;
}
.headers .text{
  font-size: 13px;
  margin-right: 18px;
}
.headers .title{
  font-size: 19px;
  line-height: 26px;
  display: block;
  font-weight:bold;
}
.headers .count{
  margin-top: 5px;
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
  position: relative;
}
.headers .count .left{
  position: absolute;
  left: 0;
  font-size: 14px;
  line-height: 20px;
  color: #8E9AA7;
}
.headers .count .right{
  position: absolute;
  right: 0;
  line-height: 20px;
  font-size: 13px;
  color: #ADB7C1;
}
.headers .count .right .ico{
  width:16px;
  height:16px;
  margin-left: 15px;
  margin-right: 5px;
}
.headers .count .right .text:first-child{
  margin-right: 5px;
}
.headers .tags{
  line-height: 19px;
}
.headers .tags .tag{
  border:1px solid #847AFD;
  border-radius:2px;
  line-height:19px;
  height:19px;
  color:#847AFD;
  font-size:11px;
  padding:0 5px;
  margin-right:5px;
  margin-bottom: 5px;
}

.tab{
  font-size:15px;
  display:flex;
  width:100%;
  background:#fff;
  z-index:999;
  height:50px;
}
.tab .item{
  color:#8E9AA7;
  flex:1;
  text-align:center;
  position:relative;
  height:20px;
  margin-top:15px;
}
.tab .item:first-of-type{
  border-right:1px solid #f3f3f3;
}
.tab .item:last-of-type{
  border-left:1px solid #f3f3f3;
}
.tab .current{
  color: #333333;
}
.tab .current .desc{
  position: relative;
}
.tab .current .desc::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #333;
  border-radius: 1px;
}


.footer{
  height: 60px;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  background: #fff;
  z-index: 999999;
}
.footer .qing{
  border: #999 1px solid;
  height: 40px;
  width: 120px;
  font-size: 15px;
  color: #666;
  justify-content: center;
  border-radius: 3px;
  margin-right: 15px;
  background: #fff;
}
.footer .doplus{
  background: #847AFD;
  border-radius: 3px;
  height: 40px;
  width: 210px;
  justify-content: center; 
  position: relative;
  font-size: 15px;
  color: #fff;
}
.footer .getUserInfoBtn{
  width: 200px;
  height: 50px;
  top: 0;
  position: absolute;
  background: transparent;
}


.setting{
  /* height: 15px; */
  justify-content: space-between;
  align-items:flex-end;
}
.setting .set{
  color: #0DCAD4;
  font-size: 13px;
}
.setting .recommendimg{
  position: absolute;
  left: 2px;
  width: 50px;
  height: 20px;
  top: -2px;
}
.setting .tip{
  color: #8E9AA7;
  font-size: 14px;
  position: relative;
}
.topset{
  color: #333;
  font-size: 14px;
  padding: 0 15px;
  box-sizing: border-box;
  margin-top: 10px;
  background: #fff;
}
.topset .desc{
  line-height: 20px;
  padding: 10px 0;
  display: block;
}


.playfunc{
  background: #fff;
  padding: 15px 15px 0 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
.playfunc .lock{
  width: 17px;
}
.playfunc .top{
  height: 50px;
  justify-content: space-between;
  align-items:center;
}
.playfunc .top .set{
  color: #0DCAD4;
  font-size: 13px;
}
.set .icon{
  width: 13px;
  height: 13px;
  margin-right: 2px;
}
.playfunc .top .recommendimg{
  position: absolute;
  left: 2px;
  width: 50px;
  height: 20px;
  top: -2px;
}
.playfunc .top .tip{
  color: #8E9AA7;
  font-size: 14px;
  position: relative;
}
.playfunc .item{
  padding: 15px 0;
}
.playfunc .item .top{
  height: 44px;
  line-height: 44px;
}
.playfunc .item .top .unit{
  font-size: 14px;
  color: #333333;
  margin-left: 2px;
}
.playfunc .item .top .guan{
  font-size: 17px;
  color: #847AFD;
}
.playfunc .item .notfinsh{
  background: rgba(253,144,95,0.08);
  border: 1px solid #FD905F;
  border-radius: 2px;
  width: 45px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #FD905F;
  text-align: center;
}
.playfunc .item .finsh{
  background: rgba(250,204,57,0.08);
  border: 1px solid #847AFD;
  border-radius: 2px;
  width: 45px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #847AFD;
  text-align: center;
}
.playfunc .item .infos{
  /* display: flex; */
  position: relative;
  min-height: 70px;
}
.playfunc .item .infos .img{
  width: 90px;
  height: 70px;
  margin-right: 11px;
  position: absolute;
  border-radius: 3px;
}
.playfunc .item .infos .t-warp{
  width:100%;
  padding-left:100px;
  box-sizing:border-box;
}
.playfunc .item .infos .t-warp .title{
  font-size: 16px;
  color: #333333;
  line-height: 22px;
}
.playfunc .item .infos .t-warp .taglist{
  flex: 1;
  /* flex-wrap:wrap; */
}
.playfunc .item .infos .t-warp .tag{
font-size: 14px;
color: #666666;
}
.playfunc .item .infos .t-warp .desc{
    border: 1px solid #FFD782;
border-radius: 5rpx;
height: 20px;
line-height: 20px;
color: #FACC39;
font-size: 12px;
text-align: center;
padding: 0 3px;
margin-right: 8px;
margin-bottom: 5px;
}

.content{
  padding: 15px 15px 5px;
  box-sizing: border-box;
  background: #fff;
}
.content .topimg{
  height: 22px;
  width: 64px;
  margin-top: 8px;
  margin-bottom: 5px;
}
.content .header{
  position: relative;
}
.content .header .top{
  height:67px;
  position: relative;
}

.content .header .top .tdesc{
  position: absolute;
  top: 16px;
  width: 100%;
  height: 21px;
  line-height: 21px;
}
.content .header .img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.content .header .name{
  color: #333;
  font-size: 15px;
}
.content .header .daynum{
  border: 1px solid #847AFD;
  border-radius: 2px;
  height: 19px;
  line-height: 19px;
  padding: 0 6px;
  color: #847AFD;
  font-size: 12px;
  float: right;
  max-width: 106px;
}
.content .header .desc{
  color: #ADB7C1;
  font-size: 11px;
  bottom: 11px;
  line-height: 15px;
  position: absolute;
  width: 99%;
}
.content .header .desc .createTime{
  margin-right: 17px;
}
.content .header .desc .subdesc{
  display: inline;
}
.content .header .right{
  width: 100%;
  padding-left: 52px;
  box-sizing: border-box;
}
.content .channel{
  height: 60px;
  background: #f4f5f8;
  border-radius: 3px;
  margin: 5px 0;
  position: relative;
  box-sizing: border-box;
}
.content .channel .cimg{
  width: 50px;
  height: 50px;
  margin: 5px 10px 5px 5px;
  border-radius: 6px;
  float: left;
}
.content .channel .cright{
  padding-left: 65px;
  padding-right: 2px;
}
.content .channel .cright .cdo{
  height: 12.5px;
  width: 17.5px;
  margin: 0 4px;
}
.content .channel .cright .cdesc{
  font-size: 14px;
  color: #333;
  width: 100%;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
}
.content .channel .cright .cinfo{
  color: #ADB7C1;
  font-size: 11px;
  line-height: 15px;
}
.content .channel .cright .partnum{
  border-right: #E0E2E5 1px solid;
  padding-right: 4px;
}
.content .text{
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  word-break:break-all;
}
.content .showall{
  color: #847AFD;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 5px;
  display: block;
}
.content .mainimg{
  width: 180px;
  border-radius: 3px;
}
.content .pimg{
  width: 100%;
  display:block;
  margin:5px 0;
}
.content .mainimg3{
  width: 32%;
  border-radius: 3px;
}
.content .mainimg3:nth-of-type(3n-1){
  margin:0 2%;
}
.content .bottom{
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 11px;
  color: #ADB7C1;
}
.content .bottom .bright{
  float: right;
}
.content .bottom .bright image{
  width: 17px;
  margin-left: 20px;
  margin-right: 6px;
}

.content .ilike_footer{
  padding:10px 0;
  font-size: 11px;
  color: #ADB7C1;
  justify-content: space-between;
}
.content .ilike_footer .ilike_warp{
  width: 18px;
  height: 20px;
  background: #FFF;
  position: relative;
}
.content .getUserInfoIlikeBtn{
  position: absolute;
  width: 40px;
  height: 20px;
  left: 0;
  top: 0;
  background: transparent;
}
.content .ilike_footer .mainimg{
  width: 14px;
  margin: 0 auto;
}
/* .content .ilike_footer .icurrent{
  background: #FFF7F3;
  border: 1px solid #FF8C5A;
} */
.content .ilike_footer .count{
  margin-left: 6px;
  margin-right: 19px;
}


.partner .items {
  width: 20%;
  text-align: center;
  display: inline-block;
  position: relative;
}
.partner .items .ph{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-top: 7px;
  margin-bottom: 2px;
}
.partner .items .name{
  font-size: 12px;
  color: #333;
  display: block;
}
.partner .scroll-view_H{
  height: 84px;
  white-space: nowrap;
}
.mask{
  background: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 990;
  top: 0;
}
.maskinfo{
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.partner{
  height: 114px;
  /* padding: 0 15px;
  box-sizing: border-box; */
  background:#fff;
  z-index:99999999;
  position:fixed;
  bottom:0;
  width:100%;
  /* overflow: hidden; */
}
.partner .title{
  height: 20px;
  padding-top: 10px;
  display: block;
  font-size: 14px;
  margin-left: 15px;
  color: #8E9AA7;
}
.partner .items .status{
  position: absolute;
  width: 15px;
  height: 15px;
  top: 40px;
  right: 17px;
  background: #f4f5f8;
}

.playshow{
  text-align: center;
  font-size: 17px;
  color: #333;
  padding-bottom: 3px;
}
.playshow .tips{
  font-size: 12px;
  color: #28A2A8;
  margin-top: 10px;
}
.playshow .showmore{
  width: 16px;
  height: 11px;
}

.content .audio{
  background: #EBECEE;
  height: 50px;
  margin: 10px 0;
  border-radius: 3px;
  overflow: hidden;
  font-size: 11px;
  color: #ADB7C1;
  padding-right: 15px;
  box-sizing: border-box;
}
.content .audio .play{
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  justify-content: center;
  float: left;
  background: rgba(255,255,255,0.80);
  border: 1.5px solid #847AFD;
}
.content .audio .play .mplay{
  width: 0;
  height: 0;
  border-top: transparent 5px solid;
  border-left: #847AFD 10px solid;
  border-bottom: transparent 5px solid;
  display: block;
  margin-left: 3px;
}
.content .audio .play .splay{
  width: 7px;
  height: 10px;
}
.content .audio .play .hplay{
  width: 2px;
  height: 10px;
  background: #847AFD;
  border-radius: 1.5px;
  display: block;
  float: left;
}
.content .audio .play .hplay:last-child{
    float: right;
}
.content .audio .pright{
  height: 9px;
  line-height: 9px;
  margin-top: 15px;
  margin-bottom: 8px;
  padding-left: 50px;
}
.content .audio .pright .ptop{
    text-align:left;
}
.content .audio .pright .ptop .alltime{
    float: right;
}
.content .audio .pright .line{
  opacity: 0.6;
  border-radius: 2px;
  height: 2px;
  margin-top: 3px;
  position: relative;
}
.content .audio .pright .pline{
  opacity: 0.6;
  background:#847AFD;
  border-radius: 2px;
  height: 2px;
}
.content .audio .pright .psign{
  background: #847AFD;
  border-radius: 2px;
  width: 4px;
  height: 10px;
  position: absolute;
  top: -4px;
}


.content .video{
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.content .vmiddle{
  margin: 0 auto 10px auto;
}
.content .video .pvimg{
  width: 100%;
  display: block;
  border-radius: 3px;
}
.content .video .vimg{
  width: 180px;
  border-radius: 3px;
}
.content .video .mask{
  background: rgba(46,46,46,0.30);
  border-radius: 3px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.content .video .vplay{
  width: 40px;
  height: 40px;
  position: absolute;
  border: 1px #fff solid;
  box-sizing: border-box;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  justify-content: center;
  z-index: 99999;
}
.content .video .vplay .mplay{
  width: 0;
  height: 0;
  border-top: transparent 7px solid;
  border-left: #fff 14px solid;
  border-bottom: transparent 7px solid;
  display: block;
  margin-left: 3px;
}

.scrollview{
  position: fixed;
  bottom: 130px;
  right: 0;
  width: 54px;
  height: 100px;
  z-index: 999;
}
.scrollview image{
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 14px;
  margin-top: 10px;
}

.main{
  margin: 5px 0;
}
.main .text{
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  color: #333;
  margin: 15px 0;
  display: block;
}
.main .img{
  border-radius: 3px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.zanbox {
  position: relative;
}
.zanbox .getUserInfoBtn{
  width: 100%;
  height: 20px;
}
.getUserInfoBtn{
  width: 100%;
  height: 120px;
  top: 0;
  position: absolute;
  background: transparent;
}
.emptyline{
  margin: 0 20px;
}


.settingbox{
  position: fixed;
  bottom: 0;
  background: #f4f5f8;
  height: 214px;
  z-index: 999999999999;
  width: 100%;
}
.settingbox .partner{
  bottom: auto;
}
.quitChannel{
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-top: 10px;
  color: #ff580e;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}
.topheader{
  justify-content: space-between;
  height: 45px;
  background: #fefcf5;
}
.cancelMask{
  width: 70px;
  text-align: center;
  color: #666;
  height: 45px;
  line-height: 45px;
}
.confirmMask{
  width: 100px;
  text-align: center;
  color: #333;
  height: 45px;
  line-height: 45px;
}



.footer_change{
  text-align: center;
  width: 100%;
  color: #333;
  margin-top: 30px;
}
.footer_change .haoqi{
  position: relative;
  font-size: 14px;
  color: #8E9AA7;
  line-height: 16px;
  height: 30px;
}
.footer_change .haoqi .ico{
  width: 57px;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.footer_change .change{
  font-size: 14px;
  color: #0DCAD4;
  margin-top: 15px;
}
.playinfo{
  background: #F4F5F8;
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999;
  margin: 6px 0;
  text-indent: 10px;
}

.videobox{
  text-align: center;
}