<view class='content' id='comment_page' wx:if='{{doPlusShowBaseInfo}}'>
  <view class='header'>
    <image class='img' src='{{doPlusShowBaseInfo.participantInfo.imgUrl}}'></image>
    <view class='right'>
      <view class='top'>
        <view class='tdesc'>
          <text class='name nowrap'>{{doPlusShowBaseInfo.participantInfo.name}}</text>
          <!-- <text class='daynum nowrap' wx:if='{{topicInfoDTO.topicOrder}}'>No.{{topicInfoDTO.topicOrder}} {{topicInfoDTO.topicTitle}}</text> -->
        </view>
        <!-- <view class='desc nowrap'  wx:if='{{doPlusShowBaseInfo.groupRelationship && doPlusShowBaseInfo.groupRelationship.length > 0}}'>来自群好友<block wx:for='{{doPlusShowBaseInfo.groupRelationship}}' wx:for-item='value'>(<open-data type="groupName" open-gid="{{value}}" />)</block>
        </view> -->
         <view class='desc nowrap'>
          <!-- <text class='subdesc createTime'>{{doPlusShowBaseInfo.createTime}}</text> -->
          <view class='subdesc' wx:if='{{doPlusShowBaseInfo.groupRelationship && doPlusShowBaseInfo.groupRelationship.length > 0}}'>来自<block wx:if='{{doPlusShowBaseInfo.groupRelationship && doPlusShowBaseInfo.groupRelationship.length > 0}}'>(</block><block wx:for='{{doPlusShowBaseInfo.groupRelationship}}' wx:for-item='value' wx:for-index='ridx'><open-data type="groupName" open-gid="{{value}}" /><block wx:if='{{ridx+1 != doPlusShowBaseInfo.groupRelationship.length}}'>，</block></block><block wx:if='{{doPlusShowBaseInfo.groupRelationship && doPlusShowBaseInfo.groupRelationship.length > 0}}'>)</block></view>
        </view>
      </view>

      <view class='channel' bindtap='backHandle' data-doplusid='{{doPlusShowBaseInfo.doPlusContent.doPlusId}}' >
        <image class='cimg' mode='aspectFill' src='{{channelBaseInfo.channelImgUrl}}'></image>
        <view class='cright'>
          <text class='cdesc nowrap'>{{channelBaseInfo.channelName}}</text>
          <!-- <view class='cinfo'>
            <text class='partnum'>{{channelMemberCount}}人参加</text>
            <image class='cdo' src='../../../../images/do3.png'></image>
            <text>{{channelDoPlusCount}}</text>
          </view>  -->
          <view class='num middle'>
              <!-- <image class='ico' src='../../../../images/user.png'></image> -->
              <text class='text'>成员{{channelMemberCount}}</text>
              <!-- <image class='ico' src='../../../../images/join.png'></image> -->
              <text class='text'>动态{{channelDoPlusCount}}</text>
            </view>
        </view>
      </view>

      <view class='text' wx:if='{{doPlusShowBaseInfo.textContentPreview}}'>{{doPlusShowBaseInfo.textContentPreview}}</view>
      <text class='showall' wx:if='{{doPlusShowBaseInfo.showall}}' data-index='{{index}}' bindtap='showall'>查看全文</text>
      <block wx:if='{{doPlusShowBaseInfo.doPlusContent.imageContent && doPlusShowBaseInfo.doPlusContent.imageContent.length>0}}' wx:for='{{doPlusShowBaseInfo.doPlusContent.imageContent}}' wx:for-item='each' >
       <image bindtap='preImage'  data-src='{{each}}' wx:if='{{doPlusShowBaseInfo.doPlusContent.imageContent.length == 1}}' class='mainimg' mode='widthFix' src='{{each}}'></image> 
       <image bindtap='preImage'  data-src='{{each}}' wx:else class='mainimg3' mode='widthFix' src='{{each}}?imageView2/1/w/200/h/200'></image>

      </block>

      <block wx:if="{{doPlusShowBaseInfo.doPlusContent.soundContent}}">
          <view class='audio'>
            <view class='play middle' data-index='{{index}}' bindtap='playAudio'>
              <text wx:if='{{!doPlusShowBaseInfo.isPlay}}' class='mplay'></text> 
              <view wx:else class='splay'>
                  <text class='hplay'></text>
                  <text class='hplay'></text>
              </view> 
            </view>
            <view class='pright'>
              <view class='ptop'>
                <text>{{doPlusShowBaseInfo.nowduration}}</text>
                <text class='alltime'>{{doPlusShowBaseInfo.formatduration}}</text>
              </view>
              <view class='line'>
                <view class='pline' style='width:{{doPlusShowBaseInfo.progress || 0}}%'></view>
                <view class='psign' style='margin-left:{{doPlusShowBaseInfo.progress || 0}}%'></view>
              </view>
            </view>
          </view>

        </block>


      <block wx:if='{{doPlusShowBaseInfo.doPlusContent.videoContent}}'>
          <view bindtap='playVedio' data-index='{{index}}' class='video' wx:if="{{!doPlusShowBaseInfo.showVedio}}" style="width:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth ? doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth : '100%'}}px;height:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight ? doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight : 'auto'}}px">
              <image wx:if='{{doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth && doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight}}' src='{{doPlusShowBaseInfo.doPlusContent.videoContent.videoThumbUrl}}' class='vimg' style="width:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth}}px;height:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight}}px"></image>

              <image wx:else src='{{doPlusShowBaseInfo.doPlusContent.videoContent.videoThumbUrl}}?imageView2/1/w/670/h/377' class='vimg' ></image>

              <view class='mask'></view>
              <view class='vplay middle'><text class='mplay'></text></view>
            </view>

          <video autoplay='true' class='video' wx:if="{{doPlusShowBaseInfo.showVedio && doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth && doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight }}" src="{{doPlusShowBaseInfo.doPlusContent.videoContent.videoUrl}}" style="width:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoWidth}}px;height:{{doPlusShowBaseInfo.doPlusContent.videoContent.videoHeight}}px"></video>
        
          <video autoplay='true' class='video' wx:elif="{{doPlusShowBaseInfo.showVedio}}" src="{{doPlusShowBaseInfo.doPlusContent.videoContent.videoUrl}}"></video>

        </block>

<!-- 
      <view class='bottom'>
        <text>{{doPlusShowBaseInfo.createTime}}</text>
        <view class='bright middle'>
            <view class='middle zanbox' data-ilike='{{doPlusShowBaseInfo.ilike}}' bindtap='likeDoPlus'>
              <image class='mainimg'  mode='widthFix' src="../../../../images/{{doPlusShowBaseInfo.ilike ? 'good':'ungood'}}.png"></image>
              <text>{{doPlusShowBaseInfo.likeCount}}</text>
            </view>
            <view class='middle zanbox' bindtap='showCommentHandle'>
              <image class='mainimg' mode='widthFix' src='../../../../images/comment.png'></image>
              <text>{{doPlusShowBaseInfo.commentCount}}</text>
            </view>
        </view>
      </view> -->


    <view class='ilike_footer middle'>
                <text class='subdesc createTime'>{{doPlusShowBaseInfo.createTime}}</text>

        <view class='ilike_right middle'>

        <view class='ilike_warp middle icurrent' wx:if='{{doPlusShowBaseInfo.ilike}}' data-ilike='{{doPlusShowBaseInfo.ilike}}' data-doplusid='{{doPlusShowBaseInfo.doPlusContent.doPlusId}}'  bindtap='likeDoPlus'>
            <image class='mainimg' mode='widthFix' src="../../../../images/good.jpg"  ></image>
        </view>
        <view class='ilike_warp middle' data-ilike='{{doPlusShowBaseInfo.ilike}}' data-doplusid='{{doPlusShowBaseInfo.doPlusContent.doPlusId}}'  bindtap='likeDoPlus' wx:else>
        <!-- <button class='getUserInfoIlikeBtn' open-type="getUserInfo" bindgetuserinfo="getUserInfoByDolikeHandler"></button> -->
            <image class='mainimg' mode='widthFix' src="../../../../images/ungood.jpg"  ></image>
        </view>
        <text class='count'>{{doPlusShowBaseInfo.likeCount}}</text>
        <view class='ilike_warp middle' data-doplusid='{{doPlusShowBaseInfo.doPlusContent.doPlusId}}' bindtap='showCommentHandle'>
            <!-- <button class='getUserInfoIlikeBtn' open-type="getUserInfo" bindgetuserinfo="getUserInfoByCommentHandler"></button> -->
            <image class='mainimg' mode='widthFix' src="../../../../images/comment.png"  ></image>
        </view>
        <text class='count'>{{doPlusShowBaseInfo.commentCount}}</text>
        </view>
      </view>


    </view>
  </view>







  <view wx:if='{{commentZone.likeCount > 0}}' class='zanlist middle bordertop'>
    <image class='icon' mode='widthFix' src="../../../../images/{{doPlusShowBaseInfo.ilike ? 'good':'ungood'}}.png"></image>
    <view class='rightinfos middle'>
      <block wx:if='{{commentZone.likeUserImgUrl}}' wx:for='{{commentZone.likeUserImgUrl}}' wx:for-item='item'>
        <image src="{{item || '../../../../images/default.png'}}" class='ph'></image>
      </block>
      <text class='text'><block wx:if='{{commentZone.likeCount > 8}}'>等</block>{{commentZone.likeCount}}人...</text>
    </view>
  </view>
  <view class='commentlist' >
    <view class='info' wx:if="{{commentZone.commentList && commentZone.commentList.length>0}}">
      <view class='left'>
        <image class='cicon' src='../../../../images/comment.png'></image>
      </view>
      <view class='cc'>
        <view wx:for='{{commentZone.commentList}}' data-name='{{item.commentUserName}}' data-uid='{{item.comment.commentUserId}}' data-commentid='{{item.comment.commentId}}' data-iscommentowner='{{item.comment.isCommentOwner}}'    bindtap='recomment' wx:for-item='item' class='info borderbottom'>
              <image src="{{item.commentUserImgUrl || '../../../../images/default.png'}}" class='cph'></image>
            <view class='cinfo'>
              <view class='cname nowrap'>{{item.commentUserName}}</view>
              <view class='desc'><block wx:if="{{item.toUserName}}">回复{{item.toUserName}}:</block>{{item.comment.comment}}</view>
            </view>
        </view>
      </view>
    </view>
    
  </view>
</view>

<view wx:if='{{isShowComment}}' class='comment middle'>  
  <input bindblur='bindblurHandle' cursor-spacing='8' bindfocus='bindfocusHandle' class='vinput' focus='true' value='{{comment}}'  bindinput='bindinputComment' bindconfirm='bindconfirmComment' placeholder='{{commentPlaceholder}}' auto-height='true' maxlength='500' ></input>
  <button bindtap='bindconfirmComment' class="send {{comment?'gsend':'usend'}}">发送</button>
</view> 

 <view class='footer bordertop' style="display:{{isShowComment ? 'none':'block'}}">
  <button class='share middle' open-type='share'>分享</button>
</view> 


<view class='scrollview' style="display:{{isShowComment ? 'none':'block'}}">
  <image bindtap='gohome' class='gohome' src='../../../../images/icon_backhome.png'></image>
</view>

