<view class='item head'>
  <label class='tit'>头像</label>
  <open-data wx:if="{{imgUrl == 'KTB_WXUSERAVATARURL'}}" class='image' type="userAvatarUrl"></open-data>
  <image wx:else class='image' src='{{imgUrl}}' bindtap='didPressChooseImage'></image>
</view>
<view class='item'>
  <label class='tit'>昵称</label>
  <open-data wx:if="{{name == 'KTB_WXUSERNICKNAME'}}" class='name nowrap' type="userNickName"></open-data>
  <input wx:else maxlength='10' class='name' bindinput="bindInputName" type='text' value='{{name}}'></input>
</view>
<view class='item'>
  <picker mode="date" value="{{birthday}}" bindchange="bindDateChange">
    <view class="picker">
        <label class='tit'>生日</label>
        <text wx:if="{{birthday}}" class='date'>{{birthday}}</text>
        <text wx:else class='date placeholder'>请选择出生日期</text>
    </view>
  </picker>
</view>
<view class='item'>
  <label class='tit'>性别</label>
  <view class='selsex middle'>
    <view class="{{gender == 0 ? 'selected' : 'unselect'}}" data-gender='0' bindtap='changegender'></view>
    <label>男</label>
    <view class="{{gender == 1 ? 'selected' : 'unselect'}}" data-gender='1' bindtap='changegender'></view>
    <label>女</label>
  </view>
</view>

<form bindsubmit='save' report-submit='true'>
  <button class='{{saveclass}}' formType='submit'>保存</button>
</form>
<button class='cancel' bindtap='cancel'>取消</button>
<button class='del' bindtap='del'>删除参与者</button>
